body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("img1.png");
  
    /* Control the height of the image */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .bg-img-user {
    /* The image used */
    background-image: url("./User/vaccine.jpg");
  
    /* Control the height of the image */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    width:400px; 
    padding-top: 10px;
    padding-bottom: 50px;
    margin-right:auto; 
    margin-left:auto;
    border:1px solid #000;
    background-color: white;
  }
  .contain-form {
    width: 700px; 
    padding-top: 40px;
    padding-bottom: 50px;
    margin-right:auto; 
    margin-left:auto;
    border:1px solid #000;
    background-color: white;
  }
  form {
    opacity: 0.85;
  }
  
  .edit{
    color:#131212;
    background-color: aquamarine;
    border-color: aquamarine;
    
  }
  /* Full-width input fields */
    input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #03c6fc;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }

  #vaccine{
    float: left;    
     margin: 0 0 0 15px;
    }

.info{
  margin: left 100px;;
}
.size {
  font-size: 20px;
}
table{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.contain {
  display: flex;
  justify-content: center;
}
i{
  padding-left: 10px;
}
.dropdown{
  padding-left: 15px;
  color: rgb(58, 57, 57);
}
#dropdown{
  color: rgb(19, 18, 18);
  background-color: rgb(255, 255, 255);
  font-size: large;
  font-weight: bold;

}
.dropdown-menu{
  font-size: medium;
  font-weight: bold;
}
.form-control{
  background-color: aliceblue;
}